* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Open Sans",
        sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav,
footer {
    padding: 1% 0;
    background-color: #aaa;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

nav button {
    margin-right: 10%;
    width: 70px;
    height: 30px;
}

main section form button {
    width: 95px;
    height: 80%;


    margin: 3%;

}

h1 {
    padding-top: 3%;
}

main {
    padding-top: 3%;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 100%;




}


section {
    background-color: #bbb;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


textarea {
    width: inherit;
    height: inherit;
    padding: 2%;

}