* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Open Sans",
        sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav,
footer {
    padding: 0;
    background-color: #aaa;
    width: 100vw;
}

section:nth-child(even) {
    background-color: #bbb;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

h1 {
    padding-top: 5%;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    flex: 2;
    padding: 1em;
    background-color: #ddd;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    width: 100%;
}

form {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form>* {
    margin-bottom: 0.7rem;
}

textarea {
    width: 100%;
    flex: 2;
    margin-top: 0.15rem;
    padding: 0.3rem;
}



input {
    height: 1.7rem;
    width: 100%;
}

select {
    width: 50%;
    height: 1.7rem;
}

button {
    width: 145px;
    height: 45px;
    margin-top: 0.7rem;


}

nav button {

    width: 70px;
    height: 30px;
    margin-top: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
}

li {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.amount {
    font-size: 14px;
}

.ingredient {
    font-size: 20px;
}

.exit {
    width: 30px;
    font-size: 20px;
}

.row {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.edit-button {
    width: 95px;
}

li .exit {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;

}